$primary-color: #9C27B0;
$primary-color-trans: rgba(156, 39, 176, .7);
$xs: 400px; 
$sm: 768px;
$md: 970px;
$lg: 1200px;

@font-face {
    font-family: white-rabbit;
    src: url('../fonts/telegrama_raw.otf');
}
#outier-wrapper {
    min-height: 100vh;
    @media screen and (max-width: $xs) {
        display: flex;
        justify-content: center;
    }
    #name-wrapper {
        padding: 60px 30px 40px 30px;
        display: flex;
        align-items: center;
        @media screen and (max-width: $sm) {
            width: 350px;
        }
        #icon {
            font-size: 70px;
            padding-right: 40px;
            @media screen and (max-width: $sm) {
                padding-right: 10px;
            }
        }
        #name-title-wrapper {
            width: 60%;
            #name {
                font-size: 25px;
                @media screen and (max-width: $sm) {
                    font-size: 20px;
                }
            }
            #title{
                font-size: 15px;
                color: #878787;
            }
        }
    }
    #text-wrapper {
        padding: 0 30px;
        @media screen and (max-width: $xs) {
            width: 320px;
            padding: 0;
        } 
        p:first-child {
            padding-bottom: 40px;
        }
        
        p {
            padding-bottom: 14px;
        }
        .highlight {
            font-weight: bold;
            color: $primary-color;            
        }
        .padding-both {
            padding: 0 7px 0 7px;
        }
        .padding-left {
            padding: 0 0 0 7px;
        }
        color: rgba(33,33,33,.7);
    }
    #all-section-wrapper {
        a {
            text-decoration: none;
            color: rgba(33,33,33,.7);
        }
        padding-top: 60px;
        padding-bottom: 60px;
        .divider {
            height: 50px;
            .line {
                height: 50px;
                background-color: rgba(33,33,33,.3);
                display: inline-block;
                width: 1px;
            }
        }
        >.container-fluid {
            @media screen and (max-width: $xs) {
                width: 300px;
                margin:  auto;
                //padding: 0 40px;
            }
        }
        .section-wrapper{
            display: flex;
            align-items: center;
            .section-icon{
                margin: auto;
                background-color: $primary-color-trans;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid;
                border-color: $primary-color;
                transition: background-color 0.7s; 
                .fa {
                    color: white;
                    font-size: 24px;
                }
            }
            .section-icon:hover {
                background-color: white;
                cursor: pointer;
                .fa {
                    color: $primary-color-trans;
                }
            }
            .section-title {
                //padding: 19px 0 19px 40px;
                color: rgba(33,33,33,.7);
                font-size: 14px;
                font-family: white-rabbit;
                display: flex;
                //text-align: center;
                align-items: center;
                transition: color 0.7s;
                .tag {
                    //width: 50px;
                    display: inline-block;
                    padding: 0 7px;
                }
            }
            .section-title:hover {
                color: $primary-color;
                cursor: pointer;
            }
            .section-title.left {
                justify-content: flex-end;
                @media screen and (max-width: $sm) {
                    order: 99;
                }
            }
        }
    }
}