{% extends 'base.html.twig' %}

{% block body %}
    <div id="outier-wrapper">
        <div class="container">
            <div class="row">
                <div id="name-wrapper" class="col-sm-8 col-sm-offset-2">                    
                    <i id="icon" class="material-icons">account_circle</i>
                    <div class="col-sm-9" id="name-title-wrapper">
                        <div id="name">Anthony Poon</div>
                        <div id="title">Sysadmin</div> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2" id='text-wrapper'>
                    <p>Hi,</p>
                    <p>I am a sysadmin from Hong Kong. I works with virtualized <span class="highlight padding-both">Linux</span> and <span class="highlight padding-both">Window</span> servers.</p>
                    <p>I am also currently studying my master degree in <span class="highlight padding-left">Chinese University</span>. You can check out my <span class="highlight padding-both">personal project</span> in my github.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2" id="all-section-wrapper">
                    <div class="container-fluid">
                        <div class="section-wrapper row">
                            <div class="col-sm-offset-5 col-sm-2 ">
                                <a href="https://github.com/anthony-poon">
                                    <div class="section-icon">
                                        <i class="fa fa-code-fork" aria-hidden="true"></i>     
                                    </div>
                                </a>
                            </div>
                            <a href="https://github.com/anthony-poon" class="section-title-right">
                                <div class="tag">&lt;a&gt;</div> View my github <div class="tag">&lt;/a&gt;</div> 
                            </a>
                        </div>
                        <div class="row text-center divider">
                            <div class="line">
                            </div>
                        </div>
                        <div class="row section-wrapper">                                
                            <a class="col-sm-5 section-title-left" href="http://stackoverflow.com/users/3118680/anthony-poon">
                                <div class="tag">&lt;a&gt;</div> View my stack overflow <div class="tag">&lt;/a&gt; </div>
                            </a>                          
                            <div class="col-sm-2 ">
                                <a href="http://stackoverflow.com/users/3118680/anthony-poon">
                                    <div class="section-icon">
                                        <i class="fa fa-stack-overflow" aria-hidden="true"></i>     
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row text-center divider">
                            <div class="line">
                            </div>
                        </div>
                        <div class="section-wrapper row">
                            <div class="col-sm-offset-5 col-sm-2 ">
                                <div class="section-icon">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>     
                                </div>                                                       
                            </div>
                            <div class="section-title-right">
                                <div class="tag">&lt;a&gt;</div> Contact me <div class="tag">&lt;/a&gt; </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('AppBundle/css/index.css') }}" />
{% endblock %}
